@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    font: inherit;
    line-height: 1;
    font-size: 100%;
    box-sizing: border-box;
    vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

span,
a {
    display: inline-block;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}